// Mixins in here
.button(@bg, @font, @color, @deco){
    background: @bg;
    font-size: @font;
    color: @color;
    text-decoration: @deco;
    border: 1px solid @navigation-border;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

.keyframes(@name; @arguments) {
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	animation: @arguments;
}